# Mac
.DS_Store

# IDE
.idea/
*.iml

# Node / Vite
node_modules/
dist/
*.log

# Archives / gros fichiers
*.zip
*.7z
*.rar

# Capacitor / Android
android/.gradle/
android/**/build/
android/capacitor-cordova-android-plugins/
android/app/release/
android/app/debug/

# Android secrets / local config
local.properties
*.jks
*.keystore
*.apk
*.aab
node_modules
