# Mac
.DS_Store

# IDE
.idea/
*.iml

# Node / Vite
node_modules/
dist/
*.log

# Archives / binaires
*.zip
*.7z
*.rar
*.apk
*.aab

# Capacitor / Android
android/.gradle/
android/**/build/
local.properties
*.jks
*.keystore

# Plugins générés (optionnel)
android/capacitor-cordova-android-plugins/
